{% extends 'base.html' %}

{% block content %}
<h1> To-Do-List</h1>
<a href="/lists/new">new list</a>
{% for list in lists %}
    <div style="border: 1px solid grey;">
        <a href="/lists/{{ list.id }}">더보기</a>
        <a href="/lists/{{ list.id }}/edit">수정하기</a>
        <a href="/lists/{{ list.id }}/delete" onclick="return confirm('정말 삭제하시겠습니까?')">삭제</a>
        <p>Title: {{ list.title }}</p>
        <p>Content: {{ list.content }}</p>
        {% if list.due_date%}
            <p>Due Date: {{list.due_date}}</p>
        {% endif%}
        <p>Urgency(1:Very Urgent/ 2:Intermediate/ 3:Not Urgent) : {{list.degree}}</p>
        {% if list.is_end_date %}
            <p style="color:red;"> !!The Due Date is Over!! </p>
        {% endif%}
        
    </div>
{% endfor %}
{% endblock content %}
